:root{
	--faqclose: #f7a942;
	--faqopen: #f7a942;
	--primary:#f7aa42;
    	--primarybg: #2f3b34;
	--faqclose: #f7a942;
	--faqopen: #f7a942;
	--primaryicon: #f5f5f5;
	--gradient: #333333;
	--gradientY: linear-gradient(to top,#f7aa42 0,#8f9f33 51%,#c5c634 100%);
	--gradient-sec: linear-gradient(to right,#f7aa42 0,#8f9f33 51%,#c5c634 100%);
	--gradient-sec2: linear-gradient(to right,#c02823 0,#f7aa42 100%);
	--gradient-sec3: linear-gradient(to right,#f7aa42 0,#db5b2f 100%);
	--gradient-seco: linear-gradient(to right,#d81919  0,#1922d8  51%,#66d819  100%);
	--gradient-btn: linear-gradient(to right,#2f3b34  0,#414230  51%,#2f3b34  100%);
	--gradient-ss: radial-gradient(#32392f 0, #f5f5f5 100%);
    --gradient-download: radial-gradient(#f5f5f5 0, #f5f5f5 100%);
	--quote: url(http://koma.meme/css/images/quotes-3.svg);
	--primary-hover: #98ce68;
	--primary-dark: #631032;
	--rgba-primary-05: rgba(97, 127, 51, 0.05);
	--rgba-primary-1: rgba(97, 127, 51, 0.1);
	--rgba-primary-2: rgba(97, 127, 51, 0.2);
	--rgba-primary-3: rgba(97, 127, 51, 0.3);
	--rgba-primary-4: rgba(97, 127, 51, 0.4);
	--rgba-primary-5: rgba(97, 127, 51, 0.5);
	--rgba-primary-6: rgba(97, 127, 51, 0.6);
	--rgba-primary-7: rgba(97, 127, 51, 0.7);
	--rgba-primary-8: rgba(97, 127, 51, 0.8);
	--rgba-primary-9: rgba(97, 127, 51, 0.9);
}
.gradient {
	background-color: #333333;
}
body{
	color:#333333;	
	background-color: #f5f5f5;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color: #f7aa42;
}

.site-footer.style-3 .footer-bottom{
	background:#f5f5f5;
}