:root {
    --offset-l: 60px;
    --offset-m: 40px;
    --offset-s: 20px;
    --color-text: #fff;
    --color-border: #261F48;
    --color-background-buy-button: #884EFF;
    --color-hover-buy-button: #9500FF;
    --color-box-shadow: rgba(0, 115, 192, 0.4);
    --color-text-buy-button: #ffffff;
    --font-size-xxl: 116px;
	--line-height-xxl: 116px;
    --font-size-xl: 56px;
    --line-height-xl: 64px;
    --font-size-l: 30px;
    --line-height-l: 44px;
    --font-size-m: 22px;
    --line-height-m: 28px;
    --line-height-list: 37px;
    --font-size-s: 18px;
    --line-height-s: 26px;
    --border-radius-l: 32px;
    --border-radius-m: 20px;
    --border-radius-s: 10px;
    --max-width-container: 980px;
    --max-width-text: 1200px;
    --marquee-width: 100vw;
    --marquee-height: 24vh;
/*    --marquee-elements: 5;*/
    --marquee-elements-displayed: 4;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-gap: 12px;
    --marquee-animation-duration: 120s;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 600;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #151128;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--color-text);
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--offset-s) var(--offset-m);
    border-bottom: 1px solid var(--color-border);
}

a {
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 80px var(--offset-m) calc(var(--offset-l) * 2);
    border-top: 1px solid var(--color-border);
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: var(--color-text);
}

footer a:hover {
    text-decoration: none;
    color: var(--color-background-buy-button);
}

.small-text {
    max-width: var(--max-width-container);
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #5C5193;
    margin: 40px auto 20px auto;
}

section {
    text-align: center;
    padding: var(--offset-l) var(--offset-m);  
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--color-text);
}

nav a:hover {
    text-decoration: none;
    color: var(--color-background-buy-button);
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 84px;
}

.owl {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-bottom: var(--offset-l);
}

.owl img {
    height: 200px;
    box-shadow: 0px 3px 60px var(--color-background-buy-button);
}

.cool-owl {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-bottom: var(--offset-l);
}

.cool-owl img {
    height: 272px;
}

.hero-image, .marquee {
    position: relative;
    width: 100vw;
    max-width: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-bottom: var(--offset-l);
}

.hero-image img {
    width: 30%;
    height: auto;
    object-fit: contain;
    max-height: 80vh;
    align-self: center;
}


.chart {
	max-width: var(--max-width-text);
	margin: 0 auto var(--offset-l);
	border-radius: var(--border-radius-s);
	overflow: hidden;
}


.pixel-button {
    position: relative;
    padding: 16px 28px;
    background-color: #884EFF;
    border: none;
    cursor: pointer;
    image-rendering: pixelated;
    font-size: var(--font-size-m);
    color: #ffffff;
    transition: transform 0.1s;
    margin-bottom: 80px;
}

.pixel-button-s {
    position: relative;
    padding: 8px 14px;
    background-color: #884EFF;
    border: none;
    cursor: pointer;
    image-rendering: pixelated;
    font-size: var(--font-size-s);
    color: #ffffff;
    transition: transform 0.1s;
}

.pixel-button::after {
    content: "";
    position: absolute;
    left: 3px;
    bottom: -3px;
    width: calc(100% - 6px);
    height: 3px;
    background-color: #600D9B;
    transition: opacity 0.1s;
}

.pixel-button-s::after {
    content: "";
    position: absolute;
    left: 3px;
    bottom: -3px;
    width: calc(100% - 6px);
    height: 3px;
    background-color: #600D9B;
    transition: opacity 0.1s;
}

.pixel-corner {
    position: absolute;
    width: 4px;
    height: 4px;
    transition: background-color 0.1s;
}

.pixel-corner:nth-child(1) {
    top: 0;
    left: 0;
    background-color: #151128;
}

.pixel-corner:nth-child(2) {
    top: 0;
    right: 0;
    background-color: #151128;
}

.pixel-corner:nth-child(3) {
    bottom: 0;
    left: 0;
    background-color: #600D9B;
}

.pixel-corner:nth-child(4) {
  bottom: 0;
  right: 0;
  background-color: #600D9B;
}

/* Стили для эффекта нажатия */
.pixel-button:active {
    transform: translateY(3px);
}

.pixel-button:active::after {
    opacity: 0;
}

.pixel-button:active .pixel-corner:nth-child(3),
.pixel-button:active .pixel-corner:nth-child(4) {
    background-color: #151128;
}

.pixel-button-s:active {
    transform: translateY(3px);
}

.pixel-button-s:active::after {
    opacity: 0;
}

.pixel-button-s:active .pixel-corner:nth-child(3),
.pixel-button-s:active .pixel-corner:nth-child(4) {
    background-color: #151128;
}


h1, h2, h3, h4, p {
    color: var(--color-text);
    max-width: var(--max-width-text);
    text-align: center;
    margin: 0 auto;
}

h1, h2 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    margin: 0 auto var(--offset-l);
}

h3 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    margin: 0 auto var(--offset-s);
    font-weight: 400;
}

h4 {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    margin-bottom: 24px;
    font-weight: 400;
}

p {
    max-width: var(--max-width-container);
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    margin: 0 auto 20px;
}

p:last-child {
    margin-bottom: 0;
}

p a {
    text-decoration: none;
    color: #BE64FF;
}

p a:hover {
    color: var(--color-background-buy-button);
}

span.emoji {
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: initial;
    background-clip: unset;
    text-fill-color: initial;
}

.about-slogan {
    margin: var(--offset-l) auto 0;  
}

.blue-title, .green-title, .black-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.yellow-title {
    color: #FBF596;
}

.yellow-title-l {
    color: #FBF596;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
}

.violet-title {
    color: #BA5AFF;
}

.community-links {
    margin-top: 0px;
    margin-bottom: 60px;
}

.community-links a img {
    margin: 0 20px;
    height: 48px;
    width: auto;
}

.community-links a:hover {
    opacity: 70%;
}

.about-container {
    background-image: url('images/stars-bg.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
    background-color: #3A085D;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 200px;
    padding-bottom: 200px;
}

.roadmap-container {
    background-image: url('images/stars-bg.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
    background-color: #3A085D;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 100px;
    padding-bottom: 100px;
}

ol {
    max-width: var(--max-width-container);
    text-align: left;
    font-size: var(--font-size-s);
    line-height: 28px;
    word-break: normal;
    font-weight: 400;
    color: #ffffff;
}

ol a {
    text-decoration: none;
    color: #BE64FF;
}

ol a:hover {
    color: var(--color-background-buy-button);
}

.alert {
    font-size: 16px;
    color: #FF6060;
    text-align: left;
    margin: 0 0 44px 10px;
}

.how-tobuy {
    max-width: var(--max-width-container);
    margin: 0 auto var(--offset-l);
    border-radius: var(--border-radius-l);
    padding: 64px 28px 0px 28px;
    background: #260C45;    
}

.token-container {
    position: relative;
    max-width: var(--max-width-container);
    margin: 0 auto var(--offset-l);
    margin-bottom: 0px;
    padding-top: 140px;
}

.token-info {
    position: relative;
}


.tronscan-image {
    position: absolute;
    right: 24px;
    top: 0px;
}

.tronscan-image img {
    width: 70px;
    height: auto;
}

.tronscan-image a:hover {
    opacity: 70%;
}

.moon-image {
    position: relative;
    left: 0px;
    top: 0px;
}

.moon-image img {
    width: 340px;
    height: auto;
}

.token-label {
    font-size: var(--font-size-s);
    font-weight: 400;
    line-height: 18px;
}

.token-value {
    font-size: var(--font-size-xl);
    font-weight: 600;
    line-height: 36px;
    color: #BA5AFF;
}


.xk-lazy {
	opacity: 0;
	transition: opacity 1.2s ease;
}

.xk-anm-scale {
	transform: scale(1.025);
	transition: transform 1.2s ease;
}

.xk-lazy-loading {

}

.xk-lazy-loaded {
	opacity: 1;
	transform: scale(1);
}

@media (max-width: 1920px) {
    .hero-image img {
        width: 35%;
    }
}

@media (max-width: 1600px) {
    .hero-image img {
        width: 40%;
    }
}

@media (max-width: 1280px) {
    .hero-image img {
        width: 45%;
    }
}

@media (max-width: 960px) {
    nav {
        display: none;
    }
    
    .hero-image img {
        width: 75%;
    }
}

@media (max-width: 768px) {
    :root {
        --offset-l: 30px;
        --offset-m: 20px;
        --offset-s: 20px;
        --color-border: transparent;
        --font-size-xl: 32px;
        --line-height-xl: 40px;
        --font-size-l: 22px;
        --line-height-l: 26px;
        --font-size-m: 22px;
        --line-height-m: 26px;
        --font-size-s: 18px;
        --line-height-s: 26px;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }
    
    .community-links a img {
    margin: 0 4px;
    height: 48px;
    width: auto;
    }
    
    .about-container {
    padding-top: 100px;
    padding-bottom: 100px;
    }
    
    .token-container {
    padding-top: 100px;
    }
    
    .hero-image img {
        width: 100%;
    }

    .tokens-image img {
        width: 210px;
    }
    
    .gecko img {
    height: 160px;
    }

    .tokenomics-container {
        gap: 16px;
    }

    .tokenomics-container > div {
        flex: 1 1 100%;
    }
}